
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  width: 100%;
  height: 15rem;
  font-style: thin 100;
  
}

.home-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  color: #000000;
}

.home-nav li {
  margin: 0 10px;
}
.icon-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.icon-nav li {
  margin: 0 45px;
}
nav a {
  color: inherit;
  text-decoration: underline;
} 
main article{
  width: 100%;
  height: 15rem;
  padding-top: 10rem;
  margin-bottom: 5rem;
}
.main-article ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65rem;
  font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  font-style: light 300;
}
.container {
  display: flex;
  flex-wrap: wrap; 
  
}

.column-1 {
  flex-basis: 50%;
  width:465.55px;
  height: 100;
  padding-left: 16rem;
  padding-top: 13rem;
  
}

.column-2 {
  flex-basis: 50%;
  padding-top: 13rem;
  padding-right: 1rem;
 
}

section img {
  height:462.23px;
  width: 577.5px;
}

section p {
  width: 600.4px;
  height: 489.6px;
  font-size: 18px;
  font-family:'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 section h3 {
  font-size: 30px;
  font-family:'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 2rem;
 }
 footer {
  height: 90rem;
  width: 100%;
  padding-top: 50rem;
  margin-bottom: 30rem;
}
 .catalogo {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: underline;
}
 footer ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding-top: 10rem;
 
}
 footer li a {
  padding: 1.5rem;
  color: black;
}
 footer p {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 footer .register-form {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  
}
 footer button {
  width: 158.63px;
  height: 64px;
  background-color: #A8A6A1;
  border-style: none;
  font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 16px;
}

 footer input {
    width: 280px;
    height: 64px;
    border: 1px solid rgba(0,0,0,.12);
    font-family: 'Poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: white;
    color:  #fff;
    padding-left: 4rem;
  }
 footer .register-form {
  display: flex;
  justify-content: space-between;
  padding-left: 58rem;
  padding-right:65rem;
}